#kaptos_root, html, body {
	height:100%;
}
.map-container {
  height: 100%;
  width: 100%;
}

.map-ref {
  height: 100%;
}

.btn {
  font-size: 12px;
}

.listItem:nth-of-type(even) {
	background-image: linear-gradient(#333, #000);
}
.listItem:nth-of-type(odd) {
	background-image: linear-gradient(#111, #000);
}
.listItem {
	color: #FF0000;
	display: block;
	cursor: pointer;
	border-bottom: 1px solid #CCCCCC;
}

.markerItem {
	background-color: #000000;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
}

.markerItem:hover {
	background-color: #333333;
}

.markerItemIcon {
	color: #FF0000;
	font-size: 15px;
	padding-top: 7px;
}


.strength1 {
	color: #ffe6e6;
}

.strength2 {
	color: #ffcccc;
}

.strength3 {
	color: #ffb3b3;
}

.strength4 {
	color: #ff9999;
}

.strength5 {
	color: #ff8080;
}

.strength6 {
	color: #ff6666;
}

.strength7 {
	color: #ff8000;
}

.strength8 {
	color: #ff9900;
}

.strength9 {
	color: #ff3300;
}

.strength10 {
	color: #ff0000;
}
